a{
    background-color: aqua;
    border-radius: 50px;
    box-shadow: 3px 3px 3px;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    font-size: 40px;
}

html{
    background: linear-gradient(lime, mediumblue);
}

p{
    text-align: center;
}
h1{
    text-align: center;
    background-color:rgb(255, 51, 0);
    border-radius: 50px;
    font-size: 60px;
}